@import "../../../../assets/theme";

@include media-breakpoint-down(lg) {
  .avatar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 0;
  }
}

@include media-breakpoint-up(md) {
  .avatar {
    margin-right: 20px;
  }
}
