<section>
  <div class="container">
    <div class="row justify-content-center mt-50">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="d-flex justify-content-center mb-50">
          <h2 class="text-dark font-weight-bold">{{ 'auth.login.login-to-airtm' | translate }}</h2>
        </div>
        <div class="d-flex mb-30">
          <button class="btn btn-facebook w-100 rounded-pill">
            <app-icon icon="facebook" color="white" [width]="24"></app-icon>
            <span>{{ 'auth.login.login-with-facebook' | translate }}</span>
          </button>
        </div>
        <div class="d-flex mb-30">
          <button class="btn btn-google w-100 rounded-pill">
            <app-icon icon="google" [width]="24"></app-icon>
            <span>{{ 'auth.login.login-with-google' | translate }}</span>
          </button>
        </div>
        <app-separator [separatorText]="'auth.login.or'"></app-separator>
        <form class="w-100" [formGroup]="form">
          <div class="mb-30">
            <app-text-input id="{{ prefix }}_email" formControlName="email" placeholder="{{ 'auth.login.your-email' | translate }}"></app-text-input>
          </div>
          <div class="mb-30">
            <app-password-input id="{{ prefix }}_password" formControlName="password" placeholder="{{ 'auth.login.password' | translate }}"></app-password-input>
          </div>
          <button class="btn btn-primary w-100 rounded-pill" (click)="login()">{{ 'auth.login.root' | translate }}</button>
        </form>
        <div class="d-flex justify-content-center mt-30">
          <span class="text-primary cursor-pointer">{{ 'auth.login.forgot-your-password' | translate }}</span>
        </div>
        <app-separator></app-separator>
        <div class="d-flex justify-content-center align-items-center mb-30">
          <span class="text-info fw-normal me-10">{{ 'auth.login.not-registered-yet' | translate }}</span>
          <button class="btn btn-outline-primary width-160 height-35 rounded-pill" ngxScrollTo="root" [routerLink]="[ROUTES.auth.signUp] | routeToAbsolute">{{ 'auth.login.create-an-account' | translate }}</button>
        </div>
        <div class="d-flex justify-content-center mb-100">
          <img class="height-50" defaultImage="assets/images/placeholder.png" lazyLoad="assets/images/playstore-logo.png" alt="Your digital account" loading="lazy">
        </div>
      </div>
    </div>
  </div>
  <app-spinner *ngIf="isLoading"></app-spinner>
</section>
