<div class="d-flex justify-content-between width-110 align-items-center" *ngIf="strengthType !== PasswordStrengthType.None">
  <div class="d-flex">
    <ng-container [ngSwitch]="strengthType">
      <ng-container *ngSwitchCase="PasswordStrengthType.Weak">
        <div class="line bg-danger rounded-2 me-5"></div>
      </ng-container>
      <ng-container *ngSwitchCase="PasswordStrengthType.Medium">
        <div class="line bg-warning rounded-2 me-5"></div>
        <div class="line bg-warning rounded-2 me-5"></div>
        <div class="line bg-warning rounded-2 me-5"></div>
      </ng-container>
      <ng-container *ngSwitchCase="PasswordStrengthType.High">
        <div class="line bg-success rounded-2 me-5"></div>
        <div class="line bg-success rounded-2 me-5"></div>
        <div class="line bg-success rounded-2 me-5"></div>
        <div class="line bg-success rounded-2 me-5"></div>
        <div class="line bg-success rounded-2 me-5"></div>
      </ng-container>
    </ng-container>
  </div>
  <ng-container [ngSwitch]="strengthType">
    <ng-container *ngSwitchCase="PasswordStrengthType.Weak">
      <span class="ml-5 text-danger">{{ 'validation.weak' | translate }}</span>
    </ng-container>
    <ng-container *ngSwitchCase="PasswordStrengthType.Medium">
      <span class="ml-5 text-warning">{{ 'validation.medium' | translate }}</span>
    </ng-container>
    <ng-container *ngSwitchCase="PasswordStrengthType.High">
      <span class="ml-5 text-success">{{ 'validation.high' | translate }}</span>
    </ng-container>
  </ng-container>
</div>
