<div class="form-group" [class.label-input-group]="label">
  <label class="form-label">
    <div class="d-flex mb-5" *ngIf="label">
      <span class="text-info">{{ label }}</span>
    </div>
    <div class="wrapper position-relative d-flex">
      <input class="form-control" [type]="type" [placeholder]="placeholder" [(ngModel)]="value" (ngModelChange)="change($event)" [readonly]="readonly">
      <div class="d-flex align-items-center">
        <app-icon class="mr-5" icon="clear-circle" *ngIf="value.length" color="dodger-blue" hoverColor="dodger-blue" (click)="value = ''; change('')"></app-icon>
        <app-icon icon="eye-close" *ngIf="type === InputType.Password" color="dodger-blue" hoverColor="dodger-blue" (click)="type = InputType.Text;"></app-icon>
        <app-icon icon="eye-open" *ngIf="type === InputType.Text" color="dodger-blue" hoverColor="dodger-blue" (click)="type = InputType.Password;"></app-icon>
      </div>
      <div class="notification d-flex flex-column position-absolute width-200 x-middle p-10 bg-info rounded-2 shadow-primary" *ngIf="showWeakAndNotification">
        <span class="font-12 text-white">* {{ 'auth.notify.minimum-8-characters' | translate }}</span>
        <span class="font-12 text-white">* {{ 'auth.notify.at-least-1-special-character' | translate }}</span>
        <span class="font-12 text-white">* {{ 'auth.notify.at-least-1-upper-case' | translate }}</span>
        <span class="font-12 text-white">* {{ 'auth.notify.at-least-1-number' | translate }}</span>
      </div>
    </div>
    <div class="d-flex justify-content-end mt-10">
      <app-password-weak-validation [strengthType]="strengthType" *ngIf="showWeakAndNotification"></app-password-weak-validation>
    </div>
  </label>
</div>
