@import "../../../../assets/theme";

.wrapper {
  &:hover {
    .notification {
      opacity: 1;
      visibility: visible;
    }
  }
}

.notification {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 100;
  top: 50px;
}
