<section class="mt-50">
  <div class="container">
    <div class="row px-30 px-lg-100 flex-row-reverse">
      <div class="col-12 col-lg-6">
        <div class="d-flex flex-column h-100 justify-content-center ps-lg-50">
          <h1 class="text-info mb-50">{{ 'landing.home.buy-and-sell-cryptocurrencies.root' | translate }}</h1>
          <div class="d-flex">
            <span class="text-info">{{ 'landing.home.buy-and-sell-cryptocurrencies.description' | translate }}</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 mb-30">
        <img class="image-fit" defaultImage="assets/images/placeholder.png" lazyLoad="assets/images/landing-pages/home/buy-and-sell-cryptocurrencies.png" alt="Receive payments for online work" loading="lazy">
      </div>
    </div>
  </div>
</section>
