<section class="mt-50">
  <div class="container">
    <div class="row px-30 px-lg-100">
      <div class="col-12 col-lg-6 mb-30">
        <img class="w-100" defaultImage="assets/images/placeholder.png" lazyLoad="assets/images/landing-pages/home/save-in-dollars.png" alt="Save in dolloars" loading="lazy">
      </div>
      <div class="col-12 col-lg-6">
        <div class="d-flex flex-column h-100 justify-content-center ps-lg-50">
          <h1 class="text-info mb-20">{{ 'landing.home.save-in-dollars.root' | translate }}</h1>
          <div class="d-flex">
            <span class="text-info">{{ 'landing.home.save-in-dollars.description' | translate }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
