@import "../../theme";

@include media-breakpoint-down(sm) {
  .main {
    width: 100%;
  }
}

@include media-breakpoint-up(md) {
  .main {
    box-shadow: rgb(20 21 26 / 4%) 0 1px 2px, rgb(71 77 87 / 4%) 0 3px 6px, rgb(20 21 26 / 10%) 0 0 1px;
    width: 380px;
  }
}

.forgot-password, .go-login {
  color: $shark;
  &:hover {
    color: $bright-sun;
  }
}
