<section class="mt-50">
  <div class="container">
    <div class="row px-30 px-lg-100">
      <div class="col-12 col-lg-6 mb-30">
        <div class="d-flex flex-column h-100 justify-content-center">
          <h1 class="text-info mb-50">{{ 'landing.home.touchless-mobile-payments.root' | translate }}</h1>
          <div class="d-flex flex-column">
            <span class="text-info">{{ 'landing.home.touchless-mobile-payments.description' | translate }}</span>
            <a href="https://directory.airtm.com" target="_blank" class="text-info text-decoration-underline cursor-pointer">{{ 'landing.home.touchless-mobile-payments.see-where-you-can-pay-with-airtm' | translate }}</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="d-flex justify-content-center">
          <img class="height-275" defaultImage="assets/images/placeholder.png" lazyLoad="assets/images/landing-pages/home/touchless-mobile-payments.png" alt="Touchless mobile payments" loading="lazy">
        </div>
      </div>
    </div>
  </div>
</section>
