@import "../../../../../assets/theme";

.balance-menu {
  &:hover, &:active, &:focus, &.active {
    background: $iron;
  }
  &:after {
    display: none !important;
  }
}

@include media-breakpoint-down(xs) {
  .balance-box {
    width: 350px;
    margin-left: -130px;
  }
}

@include media-breakpoint-up(sm) {
  .balance-box {
    width: 400px;
    margin-left: 0;
  }
}
