.btn.btn {
  &-primary {
    background: $dodger-blue;
    color: white;
    &:hover, &:active {
      background: $dodger-blue-01;
    }
  }

  &-outline-primary {
    border: solid 1px $dodger-blue;
    color: $dodger-blue;
    &:hover, &:active {
      border: solid 1px $dodger-blue-01;
      color: $dodger-blue;
      background: transparent;
    }
  }
}

.btn-small {
  min-width: 85px;
  height: 32px !important;
}

.btn-large {
  min-width: 135px;
  height: 48px !important;
}
