<div class="form-group" [class.label-input-group]="label">
  <label class="form-label">
    <div class="d-flex mb-5" *ngIf="label">
      <span class="text-info">{{ label }}</span>
    </div>
    <div class="d-flex align-items-center">
      <div class="wrapper flex-grow-1">
        <input class="form-control" [min]="0" [placeholder]="placeholder" [ngModel]="value | number : '1.2-2'" (ngModelChange)="change($event)" [readonly]="readonly">
      </div>
      <div class="d-flex align-items-center width-70" *ngIf="isCurrencyLocked; else unLocked">
        <span class="text-info ms-5">{{ currencyCode }}</span>
      </div>
      <ng-template #unLocked>
        <div class="d-flex align-items-center width-70">
          <mat-select [ngModel]="selectedLocalCurrencyCode" (ngModelChange)="currencyChanged($event)">
            <mat-option [value]="option.value" *ngFor="let option of localCurrencyOptions">{{ option.label }}</mat-option>
          </mat-select>
        </div>
      </ng-template>
    </div>
  </label>
</div>
