<section [ngClass]="isSticky ? 'sticky shadow-primary bg-color-catskill-white': ''">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <a routerLink="/">
          <img class="height-90" defaultImage="assets/images/placeholder.png" lazyLoad="assets/images/primary-logo.png" alt="Airtm" loading="lazy">
        </a>
        <div class="d-none d-lg-flex">
          <ul class="list-style-none w-100 d-flex justify-content-between text-white p-0 m-0">
            <div class="d-flex flex-column flex-lg-row">
              <ng-container *ngFor="let item of menuItems">
                <li *ngIf="item.isExternalLink; else internalLink;">
                  <a [href]="item.route" target="_blank" class="ps-30 ps-xl-70 text-info font-14 font-weight-bold cursor-pointer text-decoration-none">{{ item.label | translate }}</a>
                </li>
                <ng-template #internalLink>
                  <li ngxScrollTo="root" [routerLink]="item.route | routeToAbsolute" routerLinkActive="active" >
                    <a class="ps-30 ps-xl-70 text-info font-14 font-weight-bold cursor-pointer text-decoration-none">{{ item.label | translate }}</a>
                  </li>
                </ng-template>
              </ng-container>
            </div>
          </ul>
        </div>
      </div>
      <div class="d-flex">
        <div class="d-none d-lg-flex align-items-center">
          <button class="btn btn-outline-primary width-100 rounded-pill me-20" ngxScrollTo="root" [routerLink]="[ROUTES.auth.login] | routeToAbsolute">{{ 'auth.login.root' | translate }}</button>
          <button class="btn btn-primary width-100 rounded-pill me-20" ngxScrollTo="root" [routerLink]="[ROUTES.auth.signUp] | routeToAbsolute">{{ 'auth.signup.join' | translate }}</button>
          <div class="d-flex align-items-center">
            <ng-container *ngFor="let language of languageList">
              <a class="text-info font-14 fw-bold text-decoration-none cursor-pointer" (click)="switchLanguage(language)" *ngIf="language.code !== (language$ | async)?.code">{{ language.code | uppercase }}</a>
            </ng-container>
          </div>
        </div>
        <div class="d-flex d-lg-none">
          <button class="btn outline-none box-shadow-none" (click)="showMobileMenu = !showMobileMenu">
            <img defaultImage="assets/images/placeholder.png" src="assets/icons/menu.svg" alt="Menu" loading="lazy">
          </button>
        </div>
      </div>
    </div>
    <div class="bg-color-catskill-white" [@indicatorFade]="showMobileMenu ? 'visible': 'hidden'">
      <div class="d-flex bg-color-catskill-white align-items-center mt-10 mb-20">
        <ul class="list-style-none w-100 d-flex justify-content-between text-white p-0 m-0">
          <div class="d-flex flex-column">
            <ng-container *ngFor="let item of menuItems">
              <li class="mb-10" *ngIf="item.isExternalLink; else internalLink;">
                <a [href]="item.route" target="_blank" class="px-20 text-info fs-6 font-weight-bold cursor-pointer text-decoration-none">{{ item.label | translate }}</a>
              </li>
              <ng-template #internalLink>
                <li class="mb-10" ngxScrollTo="root" [routerLink]="item.route | routeToAbsolute" routerLinkActive="active" >
                  <a class="px-20 text-info fs-6 font-weight-bold cursor-pointer text-decoration-none">{{ item.label | translate }}</a>
                </li>
              </ng-template>
            </ng-container>
          </div>
        </ul>
        <div class="d-flex flex-column me-20">
          <button class="btn btn-outline-primary width-100 rounded-pill mb-20" ngxScrollTo="root" [routerLink]="[ROUTES.auth.login] | routeToAbsolute">{{ 'auth.login.root' | translate }}</button>
          <button class="btn btn-primary width-100 rounded-pill mb-20" ngxScrollTo="root" [routerLink]="[ROUTES.auth.signUp] | routeToAbsolute">{{ 'auth.signup.join' | translate }}</button>
          <div class="d-flex justify-content-center align-items-center">
            <ng-container *ngFor="let language of languageList">
              <a class="text-info font-14 fw-bold text-decoration-none cursor-pointer" (click)="switchLanguage(language)" *ngIf="language.code !== (language$ | async)?.code">{{ language.code | uppercase }}</a>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
