<div class="toastr-wrapper">
  <div *ngFor="let item of toastrs; let i = index" @fly_toastr
       [ngClass]="item.type | toastrColor : 'bg'"
       class="alert d-flex elevation-navigation align-items-center" role="alert">
    <div class="d-flex">
      <img class="width-20 me-10" [src]="item.type | toastrColor : 'image'" [alt]="item.type">
    </div>
    <div class="d-flex justify-content-between align-items-center flex-grow-1">
      <div>
        <p class="fw-bold mb-0" *ngIf="item.title">{{ item.title }}</p>
        <p class="mb-0" [innerHTML]="item.text"></p>
      </div>
      <app-icon icon="close" [width]="12" [color]="item.type | toastrColor : 'icon'" class="cursor-pointer" (click)="close(item, i)"></app-icon>
    </div>
  </div>
</div>
