@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-dropdowns/styles/material.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// Customize bootstrap theme variables
@import "assets/theme";
@import "~bootstrap";

// Custom theme styles
@import "assets/theme/imports";

html, body {
  height: 100%;
}

body {
  margin: 0;
}

* {
  font-family: 'Poppins', sans-serif;
}
