ejs-dropdownlist::ng-deep {
  height: 40px !important;

  .e-input-group {
    height: 100% !important;
    display: flex;
    align-items: center;
  }

  .e-input-value {
    div {
      span {
        font-size: 20px !important;
      }
    }
  }

}
