<div class="height-{{ headerHeight }} elevation-header" [ngClass]="isSticky ? 'sticky bg-color-catskill-white': ''">
  <div class="d-flex w-100 h-100 justify-content-between align-items-center">
    <a class="ms-20" routerLink="/">
      <img class="height-40" defaultImage="assets/images/placeholder.png" lazyLoad="assets/images/primary-logo.png" alt="Airtm" loading="lazy">
    </a>
    <div class="d-flex flex-column me-20">
      <div class="d-flex justify-content-center align-items-center">
        <ng-container *ngFor="let language of languageList">
          <a class="text-info font-14 fw-bold text-decoration-none cursor-pointer" (click)="switchLanguage(language)" *ngIf="language.code !== (language$ | async)?.code">{{ language.code | uppercase }}</a>
        </ng-container>
      </div>
    </div>
  </div>
</div>
